<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Offer..</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="https://media.istockphoto.com/id/687611668/photo/strawberry-daiquiri-cocktail-with-lime-strawberry-cherry-and-mint.jpg?s=2048x2048&w=is&k=20&c=XvZ8lV4EPr5jhN4m9k1aij0QVBwX6-LGjmiaukauP0g="
            class="card-img-top" alt="Beverages" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Drinks</a></p>
              <p class="small text-danger"><s>$1099</s></p>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <h5 class="mb-0">Cold Drinks</h5>
              <h5 class="text-dark mb-0">$999</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0"><span class="fw-bold"></span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Offer</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="https://images.freeimages.com/images/large-previews/9b4/restaurant-menu-items-5-1524967.jpg"
            class="card-img-top" alt="Bakery Produts" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Cakes</a></p>
              <p class="small text-danger"><s>$199</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Bakery</h5>
              <h5 class="text-dark mb-0">$109</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0"><span class="fw-bold"></span></p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Offer</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="https://media.istockphoto.com/id/1860036093/photo/singapuri-noodles.jpg?s=1024x1024&w=is&k=20&c=A7l88BFp2KJnXTBENAHcgqyTtvUxqfCV5jzVX-8AuJU="
            class="card-img-top" alt="Chinese Starter" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Chinese</a></p>
              <p class="small text-danger"><s>$1399</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Noodles</h5>
              <h5 class="text-dark mb-0">$129</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0"><span class="fw-bold"></span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>